@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Navbar Search Bar Placeholder styles */
nav form input::placeholder {
  font-weight: 500;
  font-size: 14px;
}
